body {
  margin: 0;
  background-color: #2c2b34;
  font-family: "Titillium Web", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

:root {
  --background-dark: #2c2b34;
  --background-medium: #363540;
  --background-light: #3d3c47;
  --background-hover: #403f4a;
  --primary: #e256a5;
  --secondary: #6565c4;
  --text-dark: #293441;
  --text-medium-dark: #929292;
  --text-medium: #a7a7a7;
  --text-light: #c2c2c2;
  --text-white: #fff;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--background-medium);
  position: fixed;
  z-index: 2;
}

.logo-container {
  display: inline-block;
  padding: 15px 0 15px 50px;
}

.app-logo {
  width: 1.45em;
  height: 1.45em;
  padding-right: 10px;
  display: inline-block;
}

.name {
  display: inline-block;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: var(--text-light);
  margin: 0;
  font-size: 2em;
}
button:focus {
  outline: 0;
}

.nav-buttons {
  float: right;
  height: 80px;
  border: hidden;
  text-transform: capitalize;
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
}
.nav-buttons:on-hover {
  cursor: pointer;
}
.filters {
  /*background-color: var(--secondary);*/
  background-color: var(--secondary);
  width: 184px;
  color: var(--text-dark);
  font-size: 1.1em;
}
.filters:hover {
  background-color: #7575c8;
  font-size: 1.14em;
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.filter-icon {
  padding-right: 10px;
  height: 0.7em;
}

.suggest {
  background-color: var(--primary);
  width: 276px;
  color: var(--text-white);
  font-size: 1.2em;
  text-align: center;
}

.suggest:hover {
  background-color: #eb61af;
  font-size: 1.22em;
  transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* PAGE WRAPPER AND BACKGROUND */
.content {
  width: 100vw;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
}

.background {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  opacity: 0.03;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background-size: cover;
  background-position: center center;
  animation: background-fade 3s;
}

@keyframes background-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.03;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  height: calc(100vh - 80px);
  align-items: center;
  justify-items: center;
}

/* TITLE SECTION */

.info-content {
  align-items: center;
  width: 50vw;
}

.genres {
  color: var(--secondary);
  margin-bottom: 10px;
}

.movie-title {
  color: var(--text-white);
  text-transform: uppercase;
  font-size: 4em;
  line-height: 0.9em;
  margin-bottom: 25px;
  display: inline-block;
}

.title {
  font-size: 0.9em;
  color: var(--text-medium-dark);
}

.trailer-button {
  margin-bottom: -1.5px;
  margin-left: 10px;
}

/* SCORE BAR */

.review-score {
  margin-bottom: 10px;
}
.bar-container {
  position: relative;
}

.bar-dark {
  position: absolute;
  top: 0px;

  width: 50vw;
  height: 30px;
  background-color: rgba(68, 81, 85, 0.4);
  opacity: 0.8;
  border-radius: 100px;
}

.bar-light {
  position: absolute;
  top: 0px;
  height: 30px;
  background-image: linear-gradient(to right, var(--secondary), #e256a5);
  opacity: 1;
  border-radius: 100px;
}

.score {
  float: right;
  font-size: 1.2em;
  margin-right: 15px;
  font-weight: 500;

  color: var(--text-white);
}

/* OVERVIEW TEXT */

.overview {
  width: 50vw;
  padding-top: 60px;
}

.overview-text {
  color: var(--text-medium);
  font-size: 1.1em;
}

/* MOVIE INFO */

.info-row {
  display: inline-block;
}

.rating {
  display: inline-block;
}

.movie-info-container {
  margin-top: 20px;
}

.movie-info {
  display: inline-block;
  padding-left: 5vw;
}

.info-text {
  color: var(--text-light);
  font-weight: 600;
  font-size: 1.8em;
}

.rating-text {
  text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
  .info-content {
    width: 70vw;
  }
  .bar-dark {
    width: 70vw;
  }
  .overview {
    width: 70vw;
  }
}
/*
@media only screen and (max-width: 900px) {
  .info-content {
    width: 90vw;
  }
  .bar-dark {
    width: 90vw;
  }
  .overview {
    width: 90vw;
  }
}
*/

/* FILTER MENU */
/*
.filter-menu {
  position: absolute;
  right: 0;
  top: 80px;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--background-medium);
  animation: fade-in 0.25s cubic-bezier(0.16, 0.59, 0.2, 0.92);
}

@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
*/
/*
.filter-menu {
  transform: translateX(100vw);

  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--background-medium);
  z-index: 1;
}
*/

.filter-menu {
  position: fixed;
  right: 0;
  top: 80px;
  width: 460px;
  opacity: 0;
  overflow: hidden;
  user-select: none;

  height: calc(100vh - 80px);
  background-color: var(--background-medium);
  z-index: 1;
  transition: 0.1s;
}

.menu-active {
  right: 0;
  opacity: 1;
  transition: 0.25s;
}
.menu-closing {
  opacity: 0;
  transition: 0.25s;
}

/* DROPDOWN MENU */
.dropdown-box {
  position: relative;
  margin: 40px 20px 0px 20px;
  background-color: var(--background-light);
  height: 60px;
  border-bottom: 2px solid var(--text-medium);
}

.dropdown-underline {
  border-bottom: 2px solid var(--secondary);
  height: 100%;
  position: absolute;
  bottom: -2px;
  z-index: 1;
}

.dropdown-underline-clicked {
  animation: border-slide-in 0.1s;
  animation-fill-mode: forwards;
}

@keyframes border-slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.dropdown-underline-not-clicked {
  animation: border-slide-out 0.1s;

  animation-fill-mode: forwards;
}

@keyframes border-slide-out {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.dropdown-box:hover {
  background-color: var(--background-hover);

  cursor: pointer;
}
.dropdown-name {
  display: inline-block;

  font-size: 1.1em;
  font-weight: 400;
  line-height: 62px;
  padding-left: 15px;
}

/* Dropdown On */

.dropdown-on {
  animation: dropdown-on 0.2s ease-out;
  animation-fill-mode: forwards;
}
@keyframes dropdown-on {
  0% {
    font-size: 1.1em;
    line-height: 62px;
    color: var(--text-medium);
  }
  100% {
    font-size: 0.9em;
    line-height: 30px;
    color: var(--secondary);
  }
}

/* Dropdown Off */

.dropdown-off {
  animation: dropdown-off 0.1s ease-in;
  animation-fill-mode: forwards;
}
@keyframes dropdown-off {
  0% {
    font-size: 0.9em;
    line-height: 30px;
    color: var(--secondary);
  }

  100% {
    font-size: 1.1em;
    line-height: 62px;
    color: var(--text-medium);
  }
}

/* Dropdown Selected On */

.dropdown-selected-on {
  font-size: 0.9em;
  line-height: 30px;
  color: var(--secondary);
}

/* Dropdown Selected Off */
.dropdown-selected-off {
  font-size: 0.9em;
  line-height: 30px;

  animation: dropdown-selected-off 0.1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes dropdown-selected-off {
  0% {
    color: var(--secondary);
  }
  100% {
    color: var(--text-medium);
  }
}
.dropdown-all-removed {
  font-size: 0.9em;
  line-height: 30px;
  color: var(--secondary);
}

.dropdown-selected-genres {
  font-size: 1.2em;
  font-weight: 300;
  position: absolute;
  bottom: 7px;
  left: 15px;
  color: var(--text-medium);
  display: inline-block;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}
.dropdown-arrow {
  margin: 25px 20px;
  float: right;
  padding: 5px;
}

.dropdown-arrow-clicked {
  transform: rotate(180deg);
  transform-origin: center;
}

.options-container {
  margin: 0px 20px;
  display: inline-block;
  position: absolute;
  z-index: 1;

  background-color: var(--background-light);
  color: var(--text-medium);
  font-weight: 300;
  overflow-y: hidden;
}

.options-container-clicked {
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 500px;
  }
}

.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
  transition: opacity 3s ease-out;
}
.slide-leave {
  opacity: 1;
}
.slide-leave-active {
  opacity: 0;
  transition: opacity 3s ease-out;
}

.dropdown-options-box {
  width: 420px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0 10px 0;
}

.dropdown-options {
  position: relative;
  padding: 8px 0 8px 40px;
  height: 100%;
  width: 80%;
}

.dropdown-options:hover {
  color: var(--text-light);
  cursor: pointer;
}
.checkbox-svg {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-active {
  animation: opacity-fade-in 0.25s;
}

.genre-tag {
  font-size: 1.05em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 15px;
  cursor: pointer;
}

.checkbox-all-on {
  height: 24px;
}

.select-all {
  grid-template-columns: 1fr;
  padding: 20px;
  cursor: pointer;
}

.select-all-tag {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 15px;
}

@keyframes opacity-fade-in {
  0% {
    opacity: 0;
    height: 0px;
  }
  90% {
    height: 24px;
  }
  100% {
    height: 24px;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media only screen and (max-width: 900px) {
  .logo-container {
    display: none;
  }
  .suggest {
    width: 67vw;
  }
  .filters {
    width: 33vw;
  }
  .info-content {
    width: 80vw;
  }
  .bar-dark {
    width: 80vw;
  }
  .overview {
    width: 80vw;
  }
  .genres {
    margin-top: 30px;
  }
  .filter-menu {
    width: 100vw;
  }
  .dropdown-options-box {
    grid-template-columns: 1fr;
  }
  .dropdown-selected-genres {
    max-width: 70vw;
  }
  .options-container {
    width: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 70vh;
  }
}

@media only screen and (max-width: 600px) {
  .movie-title {
    font-size: 2em;
  }
  .trailer-button {
    display: none;
  }
  .movie-info {
    margin: 0;
    padding: 0;
  }

  .info-row {
    display: block;
  }

  .info-row-top {
    margin-top: 30px;
  }

  .language {
    float: right;
  }
  .runtime {
    margin-right: 0;
  }
  .release {
    float: right;
  }
  .info-text {
    float: right;
  }
  .rating-text {
    float: left;
  }
  .runtime-text {
    float: left;
  }
}
