body {
  margin: 0;
  background-color: #2c2b34;
  font-family: "Titillium Web", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

:root {
  --background-dark: #2c2b34;
  --background-medium: #363540;
  --background-light: #3d3c47;
  --background-hover: #403f4a;
  --primary: #e256a5;
  --secondary: #6565c4;
  --text-dark: #293441;
  --text-medium-dark: #929292;
  --text-medium: #a7a7a7;
  --text-light: #c2c2c2;
  --text-white: #fff;
  --ui-dark: #6a6975;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--background-medium);
  position: fixed;
  z-index: 2;
}

.logo-container {
  display: inline-block;
  padding: 15px 0 15px 50px;
}

.app-logo {
  width: 1.45em;
  height: 1.45em;
  padding-right: 10px;
  display: inline-block;
}

.name {
  display: inline-block;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: var(--text-light);
  margin: 0;
  font-size: 2em;
}

h3 {
  font-weight: 400;
  color: var(--text-light);
  margin: 0px 0px 30px 20px;
  color: var(--text-medium);
  text-transform: uppercase;
}
button:focus {
  outline: 0;
}

.nav-buttons {
  float: right;
  height: 80px;
  border: hidden;
  text-transform: capitalize;
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
}
.nav-buttons:hover {
  cursor: pointer;
}
.filters {
  /*background-color: var(--secondary);*/
  background-color: var(--secondary);
  width: 184px;
  color: var(--text-dark);
  font-size: 1.1em;
  transform: scale(1);
}
.filters:hover {
  background-color: #7575c8;
}

.filters:hover p {
  transform: scale(2);
}

.filter-icon {
  padding-right: 10px;
  height: 0.7em;
}

.suggest {
  background-color: var(--primary);
  width: 276px;
  color: var(--text-white);
  font-size: 1.2em;
  text-align: center;
}

.suggest:hover {
  background-color: #eb61af;

  transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.suggest p {
  transform: scale(1);
  transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.suggest:hover p {
  transform: scale(1.02);
  transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* PAGE WRAPPER AND BACKGROUND */
.content {
  width: 100vw;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  overflow-x: hidden;
}

.testdiv {
  width: 100%;
  height: 100%;
}
.image-container {
  overflow: hidden;
}
.background {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  opacity: 0.05;
  /*opacity: 0.05;*/
  /*
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  */
  object-fit: cover;
}
/*
.background-fade-in {
  opacity: 1;
  transition: 3s;
}
*/
/*
.background-fade-out {
  opacity: 0;

  transition: 3s;
}

.background-fade-out-2 {
  opacity: 0;

  transition: 3s;
}
*/

/*
.background-fade-in {
  animation: background-fade-in 3s;
  animation-fill-mode: forwards;
}
*/

.background-fade-in {
  animation: background-fade-in 500ms;
  animation-fill-mode: forwards;
}

.background-fade-in-2 {
  animation: background-fade-in-2 500ms;
  animation-fill-mode: forwards;
}

.background-fade-out {
  animation: background-fade-out 500ms;
  animation-fill-mode: forwards;
}

.background-fade-out-2 {
  animation: background-fade-out-2 500ms;
  animation-fill-mode: forwards;
}

@keyframes background-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.05;
  }
}

@keyframes background-fade-in-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.05;
  }
}

@keyframes background-fade-out {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@keyframes background-fade-out-2 {
  0% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

/*
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 0.05;

  transition: opacity 1000ms;
}
.fade-enter-done {
  opacity: 0.05;
}
*/

.fetch-error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);

  z-index: 6;
  font-weight: 700;
  font-size: 3em;
  color: var(--text-medium-dark);
}

.trailer-error-message {
  font-weight: 700;
  font-size: 3em;
  color: var(--text-medium-dark);
  text-align: center;
  padding-top: 80px;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  height: calc(100vh - 80px);
  justify-items: center;
}

/* TITLE SECTION */

.info-content {
  display: relative;
  margin-top: 20vh;
  width: 50vw;
  opacity: 0;
  animation: opacity 1s;
  animation-fill-mode: forwards;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.genres {
  color: var(--secondary);
  margin-bottom: 10px;
}

.title-container {
}

.movie-title {
  color: var(--text-white);
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: 0.9em;
  margin-bottom: 25px;
  display: inline-block;
}

.title {
  font-size: 0.9em;
  color: var(--text-medium-dark);
}

.release-year {
  margin-bottom: 3px;
  position: relative;
  width: 60px;
  height: 30px;
  background-color: rgba(68, 81, 85, 0.4);
  text-align: center;
  display: inline-block;
  border-radius: 100px;
}

.release-year-text {
  font-weight: 200;
  font-size: 0.3em;
  color: var(--text-medium);
  margin: 0;
  line-height: 0;
  position: absolute;
  top: 15px;
  left: 10px;
}

/* SCORE BAR */

.review-score {
  margin-bottom: 10px;
}
.bar-container {
  position: relative;
}

.bar-dark {
  position: absolute;
  top: 0px;

  width: 50vw;
  height: 30px;
  background-color: rgba(68, 81, 85, 0.4);
  opacity: 0.8;
  border-radius: 100px;
}

.bar-light {
  position: absolute;
  top: 0px;
  height: 30px;
  background-image: linear-gradient(to right, var(--secondary), #e256a5);
  opacity: 1;
  border-radius: 100px;
}

.score {
  float: right;
  font-size: 1.2em;
  margin-right: 15px;
  font-weight: 500;

  color: var(--text-white);
}

/* OVERVIEW TEXT */

.overview {
  width: 50vw;
  padding-top: 60px;
}

.overview-text {
  color: var(--text-medium);
  font-size: 1.1em;
}

/* MOVIE INFO */

.info-row {
  display: inline-block;
}

.rating {
  display: inline-block;
}

.movie-info-container {
  margin-top: 20px;
}

.movie-info {
  display: inline-block;
  padding-left: 5vw;
}

.info-text {
  color: var(--text-light);
  font-weight: 600;
  font-size: 1.8em;
}

.rating-text {
  text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
  .info-content {
    width: 70vw;
  }
  .bar-dark {
    width: 70vw;
  }
  .overview {
    width: 70vw;
  }
}
/*
@media only screen and (max-width: 900px) {
  .info-content {
    width: 90vw;
  }
  .bar-dark {
    width: 90vw;
  }
  .overview {
    width: 90vw;
  }
}
*/

/* FILTER MENU */
/*
.filter-menu {
  position: absolute;
  right: 0;
  top: 80px;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--background-medium);
  animation: fade-in 0.25s cubic-bezier(0.16, 0.59, 0.2, 0.92);
}

@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
*/
/*
.filter-menu {
  transform: translateX(100vw);

  width: 100vw;
  height: calc(100vh - 80px);
  background-color: var(--background-medium);
  z-index: 1;
}
*/

.filter-menu {
  position: fixed;
  right: 0;
  top: 80px;
  width: 460px;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  pointer-events: none;
  height: calc(100vh - 80px);
  background-color: var(--background-medium);
  z-index: 1;
  transition: opacity 0.1s;
}

.menu-active {
  right: 0;
  opacity: 1;
  pointer-events: visible;
  transition: opacity 0.25s;
}
.menu-closing {
  opacity: 0;
  transition: 0.25s;
}

.scrollable-container {
  position: relative;
}

.scrollable {
  max-height: 50px;
}

.filter-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.error-message {
  position: absolute;
  top: 65px;
  margin-left: 15px;
  font-size: 0.9em;
  font-weight: 200;
  color: #e05a51;
}

/* DROPDOWN MENU */
.dropdown-box {
  position: relative;
  background-color: var(--background-light);
  height: 60px;
  border-bottom: 2px solid var(--text-medium);
}

.checkbox-dropdown-box {
  margin: 0px 20px 0px 20px;
}

.dropdown-underline {
  border-bottom: 2px solid var(--secondary);
  height: 100%;
  position: absolute;
  bottom: -2px;
  z-index: 1;
  pointer-events: none;
}

.dropdown-underline-clicked {
  animation: border-slide-in 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}

@keyframes border-slide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.dropdown-underline-not-clicked {
  animation: border-slide-out 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  animation-fill-mode: forwards;
}

@keyframes border-slide-out {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.dropdown-box:hover {
  background-color: var(--background-hover);

  cursor: pointer;
}
.dropdown-name {
  display: inline-block;
  color: var(--text-medium);
  font-size: 1.1em;
  font-weight: 400;
  line-height: 62px;
  padding-left: 15px;
}

/* Dropdown On */
.dropdown-on {
  font-size: 0.9em;
  line-height: 30px;
  color: var(--secondary);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown-off {
  font-size: 1.1em;
  line-height: 62px;
  color: var(--text-medium);
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown-selected-on {
  font-size: 0.9em;
  line-height: 30px;
  color: var(--secondary);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown-selected-off {
  font-size: 0.9em;
  line-height: 30px;
  color: var(--text-medium);
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown-all-removed {
  font-size: 0.9em;
  line-height: 30px;
  color: var(--secondary);
}

.dropdown-selected-genres {
  font-size: 1.2em;
  font-weight: 300;
  position: absolute;
  bottom: 7px;
  left: 15px;
  color: var(--text-medium);
  display: inline-block;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 320px;
}
.dropdown-arrow {
  margin: 25px 20px 20px 0px;
  float: right;
  padding: 5px;
}

.dropdown-arrow-clicked {
  transform: rotate(180deg);
  transform-origin: center;
}

.options-container {
  margin: 0px 20px;
  display: inline-block;
  position: absolute;
  z-index: 2;

  background-color: var(--background-light);
  color: var(--text-medium);
  font-weight: 300;
  overflow-y: hidden;
}

@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 500px;
  }
}
/*
.slide-enter {
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
  transition: opacity 3s ease-out;
}
.slide-leave {
  opacity: 1;
}
.slide-leave-active {
  opacity: 0;
  transition: opacity 3s ease-out;
}
*/

.slide-appear {
  max-height: 0;
}
.slide-appear.slide-appear-active {
  max-height: 500px;
  transition: max-height 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-enter {
  max-height: 0;
}
.slide-enter.slide-enter-active {
  max-height: 500px;
  transition: max-height 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-exit {
  max-height: 500px;
}
.slide-exit.slide-exit-active {
  max-height: 0;
  transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.slide-exit-done {
  max-height: 0;
}

/* opacity fade in */

.dropdown-options-box {
  width: 420px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0 10px 0;
}

.dropdown-options {
  position: relative;
  padding: 8px 0 8px 40px;
  height: 100%;
  width: 80%;
}

.dropdown-options:hover {
  color: var(--text-light);
  cursor: pointer;
}
.checkbox-svg {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-active {
  animation: opacity-fade-in 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: scale(0);
  backface-visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes opacity-fade-in {
  0% {
    transform: scale(0);
  }
  95% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.genre-tag {
  font-size: 1.05em;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 15px;
  cursor: pointer;
}

.checkbox-all-on {
  height: 24px;
}

.select-all {
  grid-template-columns: 1fr;
  padding: 20px;
  cursor: pointer;
}

.select-all-tag {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 15px;
}

/* Simple Dropdown */
.simple-dropdown-options > div {
  padding: 20px 20px;
  transition: 200ms;
}
.simple-dropdown-options > div:hover {
  background-color: var(--background-hover);
  cursor: pointer;
  transition: 200ms;
}
.dropdown-close-button {
  width: 10px;
  float: right;
}
.close {
  padding: 10px;
  margin-top: -2px;
  margin-right: -4px;
  float: right;
}

.close:hover {
  border-radius: 50%;
  background-color: #55565e;

  transition: background-color 200ms;
}

/* RADIO BUTTONS */
.radio-button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 20px 0 20px;
}
.radio-button-left {
}
.radio-button-centre {
  text-align: center;
}
.radio-button-right {
  text-align: right;
}
.radio-label {
  margin-right: 10px;
  color: var(--text-medium);
  font-weight: 300;
  font-size: 1.1em;
  margin-left: 10px;
  cursor: pointer;
  display: inline;
}

.radio-button-grid input[type="radio"] {
}

.radio-container {
  cursor: pointer;
}

.radio-button {
  height: 16px;
  width: 16px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--ui-dark);
  margin-bottom: -2.5px;
  position: relative;
}

.radio-button-inner {
  width: 10px;
  height: 10px;
  background-color: var(--secondary);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 3px;
  transform: scale(0.00001);
  transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.radio-checked {
  transform: scale(1);
  transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*
.radio-button:after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--secondary);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.radio-button-grid input[type="radio"]:checked ~ .radio-button:after {
  transform: translate(-50%, -50%) scale(1);
}
*/

/* TEXT INPUT */
.text-input-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.text-input-container {
  cursor: text !important;
}

.text-input-box {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  padding-left: 15px;
  color: var(--text-medium);
  margin-bottom: -9px;
}

.container-left {
  margin: 0px 10px 0px 20px;
}

.container-right {
  margin: 0px 20px 0px 10px;
}
/*
label {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 62px;
}
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: 0;
}

.underline-text {
  cursor: text;
}

/* SLIDER */

.review-score-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slidercontainer {
  position: relative;
  width: 100%;
  margin: 0px 20px 0px 20px;
}
.slider {
  width: calc(100% - 40px);
  -webkit-appearance: none;
  background: var(--ui-dark);
  appearance: none;
  height: 5px;
  outline: none;
  opacity: 0.7;
  border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: 200ms;
}
.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 5px 5px #27292b;
  background: var(--secondary);
  transform: scale(1.17);
  transition: 250ms;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.slider-bar {
  background-color: var(--secondary);
  width: 50px;
  height: 5px;
  position: absolute;
  bottom: 6px;
  left: 3px;
  border-radius: 5px;
}

.slider-numbers {
  position: absolute;
  top: 0;
  right: 20px;
  width: 60px;
  height: 40px;
  border: none;
  background-color: var(--background-light);
  cursor: text;
}

.slider-numbers-text {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  text-align: center;
  color: var(--text-medium);
  margin-top: 5px;
}

/* TRAILER */

.watch-trailer {
  width: 240px;
  position: relative;
  bottom: 0px;
  padding: 10px 60px;
  margin: 0 auto;
  display: block;
  margin-top: 10vh;
  margin-bottom: 10vh;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--text-medium-dark);
  background-color: transparent;
  border-radius: 100px;
  font-size: 1em;
  text-transform: uppercase;
  color: var(--text-medium-dark);
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.watch-trailer:hover {
  background-color: var(--text-medium);
  border: 1px solid var(--text-medium);
  color: black;
  transform: scale(1.05);

  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.watch-trailer span:after {
  background-image: url("img/next.svg");
  background-size: 13px 20px;
  background-repeat: no-repeat;
  background-position: 15px;
  height: 50px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: -3px;
  right: 0;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  content: "";
}

.watch-trailer:hover span:after {
  opacity: 1;
  right: 30px;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.watch-trailer span {
  margin: 0;
  transition: margin 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.watch-trailer:hover span {
  margin-left: -20px;
  transition: margin-left 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.trailer-container {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);

  background-color: var(--background-dark);
  box-shadow: 3px 3px 16px black;
}

.close-button-container {
  height: 45px;
}

.trailer-container img {
  width: 15px;
  height: 15px;
  float: right;
  margin: 15px;
  cursor: pointer;
  transform: scale(1);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.close-button-container svg {
  fill: #555555;
}

.trailer-container img:hover {
  transform: scale(1.1);
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.trailer-container svg {
  fill: green;
}

.video {
  display: block;
  height: 70vh;
  width: 70vw;
  margin: 0;
  padding: 0;
}

.fade-in-enter {
  opacity: 0;
}
.fade-in-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-in-exit {
  opacity: 1;
}
.fade-in-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

/* SVG */
.st0 {
  fill: none;
}
.st1 {
  fill: #6565c4;
}
.st2 {
  fill: none;
  stroke: #363540;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media only screen and (max-width: 900px) {
  .logo-container {
    display: none;
  }
  .suggest {
    width: 67vw;
  }
  .filters {
    width: 33vw;
  }
  .info-content {
    width: 80vw;
  }
  .bar-dark {
    width: 80vw;
  }
  .overview {
    width: 80vw;
  }
  .genres {
    margin-top: 30px;
  }
  .filter-menu {
    width: 100vw;
  }
  .dropdown-options-box {
    grid-template-columns: 1fr;
  }
  .dropdown-selected-genres {
    max-width: 70vw;
  }
  .options-container {
    width: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 70vh;
  }
  .grid-off {
    display: none;
  }
  .trailer-container {
    position: fixed;
    transform: none;
    top: 80px;
    left: 0;
    box-shadow: none;
  }
  .video {
    width: 100vw;
    height: calc(100vh - 125px);
  }
}

/*
@media screen and (orientation: landscape) and (max-height: 800px) {
  .trailer-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
  }
  .video {
    height: calc(100vh - 45px);
  }
}
*/

@media only screen and (max-width: 600px) {
  .movie-title {
    font-size: 2em;
    line-height: 1.2em;
  }
  .trailer-button {
    display: none;
  }
  .movie-info {
    margin: 0;
    padding: 0;
  }

  .info-row {
    display: block;
  }

  .info-row-top {
    margin-top: 30px;
  }

  .language {
    float: right;
  }
  .runtime {
    margin-right: 0;
  }
  .release {
    float: right;
  }
  .info-text {
    float: right;
  }
  .rating-text {
    float: left;
  }
  .runtime-text {
    float: left;
  }
  .info-content {
    margin-top: 10vh;
  }
  .background {
    display: none;
  }
  .release-year {
    margin-bottom: -3px;

    font-size: 2em;
    width: 65px;
  }
}

@media only screen and (max-width: 370px) {
  .radio-button-grid {
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: none;
  }
  .radio-button-centre {
    text-align: left;
  }
  .radio-button-right {
    text-align: left;
  }
}
