body {
  margin: 0;
  background-color: #2c2b34;
  font-family: "Titillium Web", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

:root {
  --background-dark: #2c2b34;
  --background-medium: #363540;
  --background-light: #3d3c47;
  --primary: #e256a5;
  --secondary: #6565c4;
  --text-dark: #293441;
  --text-medium-dark: #929292;
  --text-medium: #a7a7a7;
  --text-light: #c2c2c2;
  --text-white: #fff;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 80px;
  background-color: var(--background-medium);
}

.logo-container {
  display: inline-block;
  padding: 15px 0 15px 50px;
}

.app-logo {
  width: 1.45em;
  height: 1.45em;
  padding-right: 10px;
  display: inline-block;
}

.name {
  display: inline-block;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  color: var(--text-light);
  margin: 0;
  font-size: 2em;
}

.nav-buttons {
  float: right;
  height: 80px;
  border: hidden;
  text-transform: capitalize;
  font-family: "Titillium Web", sans-serif;
}
.filters {
  /*background-color: var(--secondary);*/
  background-color: var(--secondary);
  width: 184px;
  color: var(--text-dark);
  font-size: 1.1em;
}

.filter-icon {
  padding-right: 10px;
  height: 0.7em;
}

.suggest {
  background-color: var(--primary);
  width: 276px;
  color: var(--text-white);
  font-size: 1.2em;
}

/* PAGE WRAPPER AND BACKGROUND */
.content {
  width: 100vw;
  height: calc(100vh - 80px);
  overflow: hidden;
  position: absolute;
  top: 80px;
}

.background {
  position: absolute;
  width: 100%;
  height: calc(100vh - 80px);
  opacity: 0.03;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background-size: cover;
  background-position: center center;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  height: calc(100vh - 80px);
  align-items: center;
}

/* INFO SECTION */

.info-content {
  align-items: center;
}

.genres {
  color: var(--secondary);
}

.movie-title {
  color: var(--text-white);
  text-transform: uppercase;
  font-size: 4em;
}

.title {
  font-size: 0.9em;
  color: var(--text-medium-dark);
}

/* SCORE BAR */

.bar-container {
  position: relative;
}

.bar-dark {
  position: absolute;
  top: 0px;

  width: 40vw;
  height: 25px;
  background-color: rgba(68, 81, 85, 0.4);
  opacity: 0.8;
  border-radius: 100px;
}

.bar-light {
  position: absolute;
  top: 0px;
  background-image: linear-gradient(to right, var(--secondary), #e256a5);
  opacity: 1;
  border-radius: 100px;
}

.score {
  float: right;
  margin-right: 10px;
  font-weight: 600;
  color: var(--text-white);
}

/* OVERVIEW TEXT */

.overview {
  width: 40vw;
  padding-top: 50px;
}

.overview-text {
  color: var(--text-medium);
  font-size: 1.1em;
}

/* MOVIE INFO */

.movie-info-container {
  padding-top: 20px;
}
.movie-info {
  display: inline-block;
  margin-right: 4vw;
}

.info-text {
  color: var(--text-light);
  font-weight: 600;
  font-size: 1.8em;
}
